livekit-agents

livekit-plugins-openai 

livekit-plugins-murf

livekit-plugins-deepgram

livekit-plugins-silero 

livekit-plugins-noise-cancellation 

mem0ai 

duckduckgo-search 

langchain-community 

requests

httpx

python-dotenv 

